<div class="row  my-custom-scrollbar" >
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Sort all your data on breaks ranging from long lunch to short tea. Enjoy dude
                </p>
                <button onclick="get_lunch_data()" class="btn btn-primary">Breaks</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Life is always runs on rules. Have yours sorted now,
                    this has some soft advices and some harsh rules
                </p>
                <button onclick="show_rules()" class="btn btn-primary">Rules</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Everyday we feel left out on shit we are not
                    supposed to be worried about, so here's your
                    entertainment list, movies, youtube, music, anime
                </p>
                <button class="btn btn-primary">Recommends</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Callender , well you need this. PLan to meet some people, order something in future,
                    simply a llist of essential todos
                </p>
                <button  class="btn btn-primary">Callender</button>
            </div>
        </div>
    </div>
</div>